<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if current_user.present? %>Logged in <%= current_user.name %> <%= button_to "Logout", session_path(current_user), method: :delete, form: {style: "display:inline"} %><hr/><% end %>
    <% flash.each do |key, value| %><div><%= value %></div><% end %>
    <%= yield %>
  </body>
</html>
